.detail{
    margin:100px 0 100px 150px;
    padding-top: 30px;
}
.spoken{
    background-color: rgb(240, 231, 215);
    padding: 10px;
}
.ielts{
    margin-top: 50px;
    background-color: rgb(243, 237, 237);
    padding: 10px;
}